<h1>LISTE DES RESTAURANTS</h1>

<div class="container">
<ol>
<% @restaurants.each do |r| %>
  <li class="card"><%= link_to r.name, restaurant_path(r) %></li>
<% end %>
</ol>
</div>

<%= link_to 'Create a new resto', new_restaurant_path %>